<b> So far, we have only been using the word count, but there are beter ways to measure how important a word is. One such way is using tf-idf values. So say we have a bunch of documents that are to be used as a training set, we will find that tf-idf values of each word in each document and use these vaues to build a model.</b>

tf-idf value for each term in a document is defined as follows,

tf = freq of term in document d/ total number of terms in document d

idf = log(tot number of documents/ number of documents with the term)

tf-idf = tf * idf

In [4]:
import pandas as pd
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from sklearn.feature_extraction.text import TfidfVectorizer
from nltk.stem.porter import PorterStemmer

pd.set_option('max_colwidth', 100)

In [5]:
documents = ["Vapour, Bangalore has a really great terrace seating and an awesome view of the Bangalore skyline",
             "The beer at Vapour, Bangalore was amazing. My favorites are the wheat beer and the ale beer.",
             "Vapour, Bangalore has the best view in Bangalore."]
print(documents)

['Vapour, Bangalore has a really great terrace seating and an awesome view of the Bangalore skyline', 'The beer at Vapour, Bangalore was amazing. My favorites are the wheat beer and the ale beer.', 'Vapour, Bangalore has the best view in Bangalore.']

In [9]:
stemmer = PorterStemmer()
def preprocess(documents):
    documents = documents.lower()
    documents = word_tokenize(documents)
    documents = (document for document in documents if document not in stopwords.words("english"))
    documents = [stemmer.stem(document) for document in documents]
    documents = " ".join(documents)
    return documents

In [11]:
documents = [preprocess(document) for document in documents]
print(documents)

['vapour , bangalor realli great terrac seat awesom view bangalor skylin', 'beer vapour , bangalor amaz . favorit wheat beer ale beer .', 'vapour , bangalor best view bangalor .']

In [18]:
# this is where we create a model based on tf-idf values
vectorizer = TfidfVectorizer()
model = vectorizer.fit_transform(documents)
print(model)

  (0, 10)	0.34663478992044555
  (0, 13)	0.2636246924033099
  (0, 2)	0.34663478992044555
  (0, 9)	0.34663478992044555
  (0, 11)	0.34663478992044555
  (0, 7)	0.34663478992044555
  (0, 8)	0.34663478992044555
  (0, 3)	0.40945618183743365
  (0, 12)	0.20472809091871683
  (1, 0)	0.2701947410011521
  (1, 14)	0.2701947410011521
  (1, 6)	0.2701947410011521
  (1, 1)	0.2701947410011521
  (1, 4)	0.8105842230034562
  (1, 3)	0.15958136664279549
  (1, 12)	0.15958136664279549
  (2, 5)	0.5486117771118656
  (2, 13)	0.4172333972107692
  (2, 3)	0.6480379064629606
  (2, 12)	0.3240189532314803

In [19]:
pd.DataFrame(model.toarray(), columns = vectorizer.get_feature_names())

,ale,amaz,awesom,bangalor,beer,best,favorit,great,realli,seat,skylin,terrac,vapour,view,wheat
0,0.000000,0.000000,0.346635,0.409456,0.000000,0.000000,0.000000,0.346635,0.346635,0.346635,0.346635,0.346635,0.204728,0.263625,0.000000
1,0.270195,0.270195,0.000000,0.159581,0.810584,0.000000,0.270195,0.000000,0.000000,0.000000,0.000000,0.000000,0.159581,0.000000,0.270195
2,0.000000,0.000000,0.000000,0.648038,0.000000,0.548612,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.324019,0.417233,0.000000

That was easy wasn't it?